.banner {
    padding: 5px;
    width: fit-content;
    background: linear-gradient(90deg, rgba(255,170,0,1) 0%, rgba(255,15,111,1) 100%);
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}
.bigbanner {
    padding: 13px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    height: 40vh;
    margin: auto auto 7vh;
}

@media (max-width: 768px) {
   /* scale down to fit screen */
    .bigbanner {
        padding: 5px;
        width: fit-content;
        height: 60px;
        margin: auto;
        display: flex;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
    }
    .bigblacksquare {
        height: 80%;
        width: fit-content;
        padding: 3px 5px;
        margin-right: 3px;
        margin-left: 3px;
        border-radius: 6px;
        background: #101010;
    }
}

.blacksquare {
    height: 80%;
    width: fit-content;
    padding: 3px 5px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 6px;
    background: #101010;
}
.bigblacksquare {
    height: 80%;
    width: fit-content;
    padding: 32px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
    background: #101010;
}

.bigtext {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}
.colon {
    font-size: 2rem;
    font-weight: 800;
    color: #101010;
}
.bigbigtext {
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    margin: auto;
}
.bigcolon {
    font-size: 7rem;
    font-weight: 800;
    color: #fff;
}

@media (max-width: 768px) {
    .bigbigtext {
        font-size: 3rem;
        font-weight: 600;
        color: #fff;
    }
    .bigcolon {
        font-size: 2rem;
        font-weight: 800;
        color: #101010;
    }
}

.frame {
    padding-bottom: 100px;
}

.main {
    white-space: pre;
    font-size: 7rem;
    font-weight: bolder;
    /* gradient text */
    background: linear-gradient(90deg, #FFAA00 0%, #FF0080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    white-space: pre;
    font-size: 1.5rem;
    color: #c4c4c4;
}

.hidden {
    /* hidden box */
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.3s;
}

.show {
    /* show box */
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s;
}

.stagger {
    transition-delay: 100ms;
}


