.box {
    /* gray box with 16px rounded corners and increase shadow when hover */
    background-color: #292929;
    color: #fafafa;
    border: 1px solid #ff5f36 !important;
    border-radius: 8px;
    transition: all 0.2s;
    width: 80%;
    margin: 40px auto 40px auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.box:hover {
    transition: all 0.2s;
}

@media (max-width: 480px) {
    .box {
        width: 100%;
    }
}

.hidden {
    /* hidden box */
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.3s;
}

.show {
    /* show box */
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s;
}


.stagger {
    transition-delay: 100ms;
}

.header {
    /* center the text */
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.text {
    /* center the text */
    text-align: center;
    font-size: 1rem;
    color: #c0c0c0;
    font-weight: 400;
}

.buttons{
    display: flex;
    align-items: center;
    margin: 20px;
}

.buttons .button{
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 480px) {
    .buttons {
        flex-direction: column;
    }
    .buttons .button{
        padding: 5px 0px;
    }
}


.disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
    pointer-events: none;
}

.disabledcur {
    cursor: not-allowed;
}