.main {
    white-space: pre;
    font-size: 150px;
    font-weight: bolder;
    color: #ffffff;
}

.name {
    white-space: pre;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}

.gradient {
    background: linear-gradient(90deg, #5a83ff 0%, #fe2bf4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* media queries for main and name */

@media (max-width: 768px) {
    .main {
        font-size: 100px;
    }
    .name {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .main {
        font-size: 50px;
    }
    .name {
        font-size: 20px;
    }
}

.frame {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7vh;
}