.navbar {
    padding: 0 30px;
    width: 100%;
    height: 15vh;
    background: #1f1f1f;
    margin: auto;
    display: flex;
    align-items: center;
}

/* make navbar items stack vertically in a small screen */
@media (max-width: 768px) {
    .navbar {
        margin-top: 2vh;
        margin-bottom: 2vh;
        flex-direction: column;
        height: fit-content;
        background: #1f1f1f;
        align-items: center;
    }
}

.flexrow {
    flex-direction: row;
}

.hidden {
    opacity: 0;
}

.box {
    display: flex;
    height: 52px;
    float: left;
    align-content: center;
}

.spacer {
    height: 40px;
    align-self: stretch;
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    float: left;
}

/* disable spacer when screen is small */
@media (max-width: 768px) {
    .spacer {
        height: 10px;
    }
}

.smallspacer {
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    float: left;
    margin-left: 20px;
}

.icons {
    height: 40px;
    float: right;
    display: flex;
    margin: auto 24px auto 0;
    align-self: stretch;
    align-items: center;
    flex-wrap: nowrap;
    transition: color 0.2s;
}

/* limit width when screen is small and stack horizontally */
@media (max-width: 768px) {
    .icons {
        width: fit-content;
        margin: 10px;
    }
}

.icons:hover {
    color: #c2c2c2;
}

.iconsbox {
}

@media (max-width: 768px) {
    .iconsbox {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 20px;
    }
}

.stickbar {
    position: fixed;
    padding: 0 30px;
    width: 100%;
    top: 0;
    background: #1f1f1f;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: all 0.2s;
}

.stickbarclosed {
    height: 15vh;
}

.stickbaropen {
    height: 10vh;
}

.navbarside {
    /* sidebar floating to the center right */
    position: fixed;
    top: 35%;
    right: 0;
    width: 15%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.navbarsideclosed {
    transform: translateX(50%);
}

.navbarsideopen {
    transform: translateX(0);
}

.navbarside .icons {
    height: 40px;
    float: right;
    display: flex;
    margin: 6px 24px 6px 24px;
    align-self: flex-end;
    flex-wrap: nowrap;
    transition: color 0.2s;
}

.navbarside .icons:hover {
    color: #c2c2c2;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: #ededed;
    padding-left: 50px;
}

@media (max-width: 768px) {
    .title {
        padding-left: 10px;
    }
}

.hiddenwhensmall {}
@media (max-width: 768px) {
    .hiddenwhensmall {
        display: none;
    }
}



