.navbar {
    padding: 0 30px;
    width: 100%;
    height: 15vh;
    background: #1f1f1f;
    margin: auto;
    display: flex;
    align-items: center;
}

.hidden {
    opacity: 0;
}

.box {
    display: flex;
    height: 52px;
    float: left;
    align-content: center;
}

.spacer {
    height: 40px;
    align-self: stretch;
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    float: left;
}

.smallspacer {
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    float: left;
    margin-left: 20px;
}

.icons {
    height: 40px;
    float: right;
    display: flex;
    margin: auto 24px auto 0;
    align-self: stretch;
    align-items: center;
    flex-wrap: nowrap;
    transition: color 0.2s;
}

.icons:hover {
    color: #c2c2c2;
}

.stickbar {
    position: fixed;
    padding: 0 30px;
    width: 100%;
    top: 0;
    background: #1f1f1f;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: all 0.2s;
}

.stickbarclosed {
    height: 15vh;
}

.stickbaropen {
    height: 10vh;
}

.navbarside {
    /* sidebar floating to the center right */
    position: fixed;
    top: 35%;
    right: 0;
    width: 15%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.navbarsideclosed {
    transform: translateX(50%);
}

.navbarsideopen {
    transform: translateX(0);
}

.navbarside .icons {
    height: 40px;
    float: right;
    display: flex;
    margin: 6px 24px 6px 24px;
    align-self: flex-end;
    flex-wrap: nowrap;
    transition: color 0.2s;
}

.navbarside .icons:hover {
    color: #c2c2c2;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: #ededed;
    padding-left: 50px;
}



