.header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.subheader {
    color: rgb(156 163 175);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    margin: 20px 0;
}

.logo {
    width: 300px;
    height: 70px;
    padding: 20px;
    margin: auto;
    background: #292929;
    border: 1px solid #30363d;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: all 0.2s;
    cursor: pointer;
    color: #fff
}

.logo:hover {
    transition: all 0.2s;
    border: 1px solid #ff0f6f;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25), 0 10px 8px rgba(255, 15, 111, 0.12);
    filter: grayscale(0%);
    color: #fff
}

.seperator{
    width: 100%;
    height: 1px;
    color: rgba(255, 15, 111, 0.13);
    margin: 20px 0;
    color: #fff
}

.title {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff
}